* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
/* =======================header styles============================= */
.header {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.container {
  width: 80%;
  margin: auto;
}

.icon {
  max-width: 12%;
  height: auto;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.brand {
  display: inline-flex;
}
.navbar h1 {
  margin-top: 7px;
  letter-spacing: 0.2cm;
  color: #201e20;
  font-family: "Poppins", sans-serif;
}

ul a {
  text-decoration: none;
  margin: 5px 5px 0;
  color: #201e20;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

ul a:hover {
  color: white;
  background-color: #ffa500;
}

.header-content {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px;
  align-items: center;
  margin-top: 3rem;
}

.header-img {
  max-width: 90%;
}

.header-img img {
  border-radius: 9px;
}

.header-info {
  flex: 70%;
}

.line {
  width: 150px;
  height: 4px;
  border: 10px;
  background-color: #ffa500;
  margin-bottom: 5px;
}

.header-info h1 {
  font-size: 60px;
  margin: 15px 0;
  padding: 5px;
  color: #201e20;
}

.header-info h3 {
  font-size: 15px;
  margin: 10px 0;
  padding: 5px;
  color: #201e20;
  letter-spacing: 0.2cm;
}

.header-info p {
  line-height: 2;
  font-family: "Poppins", sans-serif;
  /* padding: 5px; */
  color: #201e20;
}

.btn {
  background-color: #ffa500;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  padding: 10px 15px;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;

  /* font-weight: bold; */
}

.btn:hover {
  transform: translateY(-3px);
  background-color: #201e20;
  color: #ffa500;
}

/* =======================Product styles============================= */

#products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  margin: 80px 0 50px;
}

#products img:hover {
  transform: translateY(-5px);
}

.product {
  text-align: center;
}

.centered-h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #201e20;
  font-size: 1.5rem;
  margin: 0.4rem 0;
}

.centered {
  margin: auto;
}

.product img {
  border-radius: 10px;
  width: auto;
  height: auto;
}

.product-info p h3 {
  color: #201e20;
}

.product p {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 1.7;
}

.product h3 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.p-btn {
  margin-top: 5px;
}
.orange {
  color: #ffa500;
}

/* =======================About us styles============================= */

.aboutus {
  margin: 3rem 0;
}
.aboutus-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 1rem 0;
}

.info p {
  font-size: 16px;
  line-height: 2;
  color: #201e20;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

/* =======================Reviews styles============================= */

#reviews {
  margin-top: 4rem;
}
.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 3rem 0;
  padding: 1rem 0;
}

.review-content img {
  width: 10%;
  height: auto;
  border-radius: 30px;
  float: left;
  margin: 0 20px;
}

.rv {
  line-height: 1.5;
  color: #201e20;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  font-size: 13px;
}

.review-content h3 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
/* =======================Footer styles============================= */
.contact-us {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffa500;
  color: white;
  border-radius: 20px;
  margin: auto;
  padding: 1rem;
}

.footer-links {
  margin: auto auto;
}

.footer-links h4 {
  line-height: 1.5;
  color: #201e20;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  font-size: 13px;
  margin: 10px 0;
  letter-spacing: 0.1cm;
}

.footer-links nav a {
  text-decoration: none;
  color: #201e20;
  margin: 0 15px;
  padding: 0 2px;
  text-align: center;
}

.footer-links nav a:hover {
  color: white;
}

.form {
  margin: auto auto;
}

.form p,
label {
  line-height: 1.5;
  color: #201e20;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  font-size: 16px;
  padding: 5px;
  margin: 3px 0;
}

label {
  display: inline-block;
  font-weight: 400;
}

input {
  border: none;
  border-radius: 5px;
  color: white;
}

.ft-btn {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #ffa500;
  background-color: #201e20;
}

.in {
  display: block;
}
/* =======================Media queries============================= */
@media only screen and (max-width: 500px) {
  .header {
    /* height: 88vh; */
  }

  .container {
    width: 90%;
  }

  .icon {
    width: 15%;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar h1 {
    margin-top: 10px;
    letter-spacing: 0.2cm;
  }

  ul a {
    margin: 2px 10px;
    padding: 2px;
  }

  .header-content {
    flex-direction: column;
  }

  .header-img {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .header-info {
    flex: 60%;
  }

  .line {
    width: 130px;
  }

  .header-info h1 {
    font-size: 50px;
  }

  #products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 0;
  }

  .centered-h2 {
    font-size: 1.8rem;
  }

  .product p {
    font-size: 15px;
  }

  .product h3 {
    font-size: 20px;
  }

  .aboutus-info {
    display: grid;
    grid-template-columns: 1fr;
  }

  .aboutus {
    margin: 2rem 0;
  }

  .info p {
    font-size: 18px;
  }

  .reviews {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem 0;
  }

  .rv {
    font-size: 16px;
  }

  .review-content h3 {
    font-size: 18px;
  }

  .contact-us {
    flex-direction: column;
  }

  .footer-links h4 {
    font-size: 15px;
    letter-spacing: 0.1cm;
  }

  .form p,
  label {
    font-size: 18px;
  }

  i {
    width: 12%;
  }

  .form {
    margin-top: 8px;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    width: 90%;
  }

  .icon {
    width: 15%;
  }

  .navbar {
    flex-direction: column;
    gap: 0.5rem;
  }

  ul a {
    margin: 2px 2px;
    padding: 2px;
  }

  .navbar h1 {
    margin-top: 10px;
    letter-spacing: 0.1cm;
  }

  .header-content {
    flex-direction: column;
  }

  .header-info {
    margin-top: 1rem;
  }

  .header-img {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 70%;
  }

  .header-info {
    flex: 70%;
  }

  .line {
    width: 100px;
  }

  .centered {
    width: 130px;
  }

  .header-info h1 {
    font-size: 45px;
  }

  .header-info h3 {
    font-size: 12px;
    letter-spacing: 0;
  }

  #products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin: 50px 0;
  }

  .centered-h2 {
    font-size: 1.8rem;
  }

  .product p {
    font-size: 16px;
  }

  .product h3 {
    font-size: 20px;
  }

  .aboutus-info {
    display: grid;
    grid-template-columns: 1fr;
  }

  .aboutus {
    margin: 2rem 0;
  }

  .info p {
    font-size: 18px;
  }

  .reviews {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem 0;
  }

  .rv {
    font-size: 16px;
  }

  .review-content h3 {
    font-size: 18px;
  }

  .contact-us {
    flex-direction: column;
  }

  .footer-links h4 {
    font-size: 14px;
    letter-spacing: 0;
  }

  .form label {
    font-size: 18px;
  }

  .form p {
    font-size: 15px;
  }

  i {
    width: 12%;
  }

  .form {
    margin-top: 8px;
  }
}
